<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" style="overflow: auto">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
              
                    <span ng-class="{'bg-muted': entredAmount()=== 0,
                             'bg-warning': entredAmount() < amountWithTax && entredAmount() != 0,
                             'bg-success': entredAmount() === amountWithTax,
                             'bg-danger': entredAmount() > amountWithTax}">    
                             <b> Votre Caisse (TTC) :</b></span>

                    <span ng-class="{'text-muted': entredAmount()=== 0,
                             'text-warning': entredAmount() < amountWithTax && entredAmount() != 0,
                             'text-success': entredAmount() === amountWithTax,
                             'text-danger': entredAmount() > amountWithTax}">    
                             {{entredAmount()}}
                    </span>

                  <span class="pull-right space-40">Total à payer DT : {{amount}} HT / <b>{{amountWithTax}} TTC </b></span></h4>
            </div>

            <div class="modal-body">
                <form name="paymentF">
                    Espece:
                    <input type="number" class="form-control" ng-model="payment.amount.brutAmount" />
                    <hr/>
                    <div class="row">
                        <div class="col-md-6">Numero Cheque:
                            <input type="number" class="form-control" ng-model="toAddCheque.number" />
                        </div>
                        <div class="col-md-6">
                            Montant Cheque:
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input type="number" class="form-control" ng-model="toAddCheque.amount" placeholder="Montant...">
                                <div class="input-group-addon"><b>DT</b></div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-6">
                            <i class="fa fa-university"></i> Banque:
                            <input type="text" class="form-control" ng-model="toAddCheque.bank" />
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{'has-error': datepickerForm.date2.$invalid}">
                                <label class="control-label"><i class="fa fa-calendar"></i> Date Echéance:</label>
                                <input type="text" class="form-control" ng-model="toAddCheque.dateE" data-date-format="yyyy-MM-dd" data-date-type="date" data-min-date="today" data-autoclose="1" name="date2" cs-date-to-iso bs-datepicker>
                            </div>
                        </div>
                    </div>
                    <button ng-click="addCheque()" type="button" style="margin-bottom:20px;" class="btn btn-success pull-right"><i class="fa fa-plus"></i></button>
                    <table ng-table="tableChequeParams" class="table table-bordered table-hover">
                        <tr ng-repeat="cheque in payment.amount.cheques track by cheque.number">
                            <td title="'Numero Cheque'" class="ng-table-group">
                                {{cheque.number}}
                            </td>
                            <td title="'Montant Cheque'" class="ng-table-group">
                                {{cheque.amount}}
                            </td>
                            <td title="'Banque'" class="ng-table-group">
                                {{cheque.bank}}
                            </td>
                            <td title="'Date Echéance'" class="ng-table-group">
                                {{cheque.dateE | date:"dd/MM/yyyy"}}
                            </td>
                            <td title="''">
                                <button ng-click="removeCheque(cheque)" type="button" class="btn btn-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>

            <div class="modal-footer">
                <div class="row">
                     <div class="col-md-6">

                        <div class="form-group" ng-class="{'has-error': datepickerForm.date2.$invalid}">
                                        <label class="control-label pull-left"><i class="fa fa-calendar-o"></i> Date Paiement: (Admin)</label>
                                        <input ng-disabled="user.object.admin==false" type="text" class="form-control" ng-model="payment.datePayment" data-date-format="yyyy-MM-dd" data-date-type="date" data-autoclose="1" name="date2" cs-date-to-iso bs-datepicker>
                        </div>
                     </div>

                     <div class="col-md-6">
                        <br/>
                    
                

            <button ng-disabled="entredAmount()!=amountWithTax||amountWithTax==0" type="button" class="btn btn-primary" ng-click="$parent.finalPayment(toPayStudent);$hide();">
                            <i class="fa fa fa-paypal"></i> Payer
                        </button>

                     </div>
                </div>
            </div>

        </div>
    </div>
</div>
