<center>
    <h2>Ecole La Joconde Jumelle</h2>
    <h4>Résidense Elyes - Dar fadhal La soukra</h4>
    <h6><i><b>Tel</b>: 70 949 009</i></h6>
    
    <h4><b>Reçu de <a ui-sref="manage.payment">Paiement</a></b> le {{payment.datePayment |date:"dd/MM/yyyy" }} </h4>
    <i>
        <span ng-if="payment.currentPayedProd.t1.length>0">
        Trimestre 1
        </span>

        <span ng-if="payment.currentPayedProd.t2.length>0">
        Trimestre 2
        </span>

        <span ng-if="payment.currentPayedProd.t3.length>0">
        Trimestre 3
        </span> 

    <i/>
</center>

<table cellspacing="0px" style="border-collapse:separate; border-spacing:15px 15px;">
<tr><td colspan="2">
        <b>Nom:</b> <span ng-bind="payment.firstname" />
        <br/> <b>Prenom:</b> <span ng-bind="payment.lastname" />
        <br/> <b>Niveau:</b> <span ng-bind="payment._levelId" /> 
        <br/> <b>Classe:</b> <span ng-bind="payment.class" />
        
</td></tr>



<tr>
    <td>

<div ng-if="payment.currentPayedProd.t1.length>0">
          
            <table class="table table-bordered">
                <tr ng-repeat="prod in payment.currentPayedProd.t1">
                    <td>
                        <span ng-if="prod.product=='a'">Activité</span>
                        <span ng-if="prod.product=='p'">Panier</span>
                        <span ng-if="prod.product=='c'">Cantine</span>
                        <span ng-if="prod.product=='s'">Scolarité</span>
                        <span ng-if="prod.product=='g'">Garderie</span>
                    </td>    
                    <td>{{prod.price}} DT</td>    
                </tr>
            </table>
        </div>

        <div ng-if="payment.currentPayedProd.t2.length>0">
            
            <table class="table table-bordered">
          
                <tr ng-repeat="prod in payment.currentPayedProd.t2">
                    <td>
                        <span ng-if="prod.product=='a'">Activité</span>
                        <span ng-if="prod.product=='p'">Panier</span>
                        <span ng-if="prod.product=='c'">Cantine</span>
                        <span ng-if="prod.product=='s'">Scolarité</span>
                        <span ng-if="prod.product=='g'">Garderie</span>
                    </td>    
                    <td>{{prod.price}} DT</td>    
                </tr>
            </table>
        </div>

        <div ng-if="payment.currentPayedProd.t3.length>0">
            
            <table class="table table-bordered">
    
                <tr ng-repeat="prod in payment.currentPayedProd.t3">
                    <td>
                        <span ng-if="prod.product=='a'">Activité</span>
                        <span ng-if="prod.product=='p'">Panier</span>
                        <span ng-if="prod.product=='c'">Cantine</span>
                        <span ng-if="prod.product=='s'">Scolarité</span>
                        <span ng-if="prod.product=='g'">Garderie</span>
                    </td>    
                    <td>{{prod.price}} DT</td>    
                </tr>
            </table>
        </div>

    </td>


    <td>
 <span> <b>Mode de paiement:</b> <span ng-bind="payment.modePay" />
        <br/>

        </span>
        <table ng-if="payment.amount.cheques.length>0" class="table table-bordered">
        <tr><th>Numéro</th><th>Montant</th><th>Banque</th><th>Date Echeance</th></tr>
            <tr ng-repeat="cheque in payment.amount.cheques track by cheque.number">
                <td>
                    {{cheque.number}}
                </td>
                <td>
                    {{cheque.amount}} DT
                </td>
                <td>
                    {{cheque.bank}}
                </td>
                <td>
                    {{cheque.dateE | date:"dd/MM/yyyy"}}
                </td>
            </tr>
        </table>
    </td>
</tr>


<tr><td colspan="2">
    <span ng-if="payment.amount.brutAmount!=0"><b>Espece payé (TTC)</b> : {{payment.amount.brutAmount}} DT </span>  <br/>
    <span><b>Taxe : </b>  12%</span>  <br/>
    <span ng-if="payment.amount.cheques.length>0"><b> Cheque(s) payé(s) :</b> {{chequeAmount}} DT </span>
    <span class="pull-right space-40"><b>Total payé (TTC)</b> : {{chequeAmount+payment.amount.brutAmount}} DT</span>
</td></tr>
</table>
