
<!--
<button ng-click="loadInsertedStudent()" type="button" class="btn btn-primary" data-animation="am-fade-and-scale" data-template="frontend/components/payment/views/payment.create.html" data-placement="center" bs-modal="modal">
    <i class="fa fa-user-plus"></i> Créer Eleve
</button>-->
<div class="row">

  <div class="col-md-4">
      <div class="form-group" ng-class="{'has-error': datepickerForm.date2.$invalid}">
        <label class="control-label pull-left"><i class="fa fa-calendar-o"></i> Date Debut: </label>
        <input ng-disabled="user.object.admin==false" type="text" class="form-control" ng-model="search.dateDebutPayment" data-date-format="yyyy-MM-dd" data-date-type="date" data-autoclose="1" name="date2" cs-date-to-iso bs-datepicker>
      </div> 
  </div>


  <div class="col-md-4">
    <div class="form-group" ng-class="{'has-error': datepickerForm.date2.$invalid}">
        <label class="control-label pull-left"><i class="fa fa-calendar-o"></i> Date Fin: </label>
        <input ng-disabled="user.object.admin==false" type="text" class="form-control" ng-model="search.dateFinPayment" data-date-format="yyyy-MM-dd" data-date-type="date" data-autoclose="1" name="date2" cs-date-to-iso bs-datepicker>
      </div>
  </div>

  <div class="col-md-4">
    <br/>
    <button type="button" ng-click="filterTable()" class="btn btn-success">Chercher</button>
  </div>

</div>

  
<!--
{
        "amount":{"payedAmount":12,"brutAmount":12,"cheques":[]},
        "currentPayedProd":{
                          "t1":[{"product":"s","price":5}],
                          "t2":[{"product":"s","price":4}],
                          "t3":[{"product":"s","price":3}]},
  
      
  
    } -->

<table ng-table="tableParams"  class="table table-bordered table-hover">

     <tr ng-repeat="payment in $data">
         <td title="'Niveau'" class="ng-table-group" filter="{ '_levelId': 'select' }"filter-data="levels" sortable="'_levelId'">
           {{payment._levelId}}
          </td>
         <td title="'Classe'" class="ng-table-group" filter="{ 'class': 'select' }" filter-data="classes"sortable="'class'">
           {{payment.class}}
          </td>
         <td title="'Nom'" class="ng-table-group" filter="{ 'firstname': 'text' }" sortable="'firstname'">
           {{payment.firstname}}
          </td>
         <td title="'Prenom'" class="ng-table-group" filter="{ 'lastname': 'text' }" sortable="'lastname'">
           {{payment.lastname}}
          </td>
         <td title="'Mode Paiment'" class="ng-table-group" filter="{ 'modePay': 'text' }" sortable="'modePay'">
           {{payment.modePay}}
          </td>
         <td title="'Date'" class="ng-table-group" sortable="'datePayment'">
           {{payment.datePayment | date:"dd/MM/yyyy"}}
          </td>
          <!--{"t1":[{"product":"s","price":1},{"product":"c","price":0},{"product":"p","price":0}],"t2":[],"t3":[]} -->
          <!--<td title="'Produits'" class="ng-table-group" width="100">-->
          <td title="'Produits'" class="ng-table-group" style="width:10%;">
            <b ng-if="payment.currentPayedProd.t1.length!=0">T1:</b>
            <span ng-repeat="prod in payment.currentPayedProd.t1">
              {{prod.product}} 
            </span>

            <br ng-if="payment.currentPayedProd.t1.length!=0"/>

            <b ng-if="payment.currentPayedProd.t2.length!=0">T2:</b>
            <span ng-repeat="prod in payment.currentPayedProd.t2">
              {{prod.product}} 
            </span>

            <br ng-if="payment.currentPayedProd.t2.length!=0"/>

            <b ng-if="payment.currentPayedProd.t3.length!=0">T3:</b>
            <span ng-repeat="prod in payment.currentPayedProd.t3">
              {{prod.product}} 
            </span>
           
          </td>

         <td title="'Montant'" class="ng-table-group" sortable="'amount.payedAmount'">
           {{payment.amount.payedAmount}}
          </td>

<!--
         <td title="'Prix'" width="200">
             <button ng-click="loadEditedStudent(payment)" type="button" class="btn btn-default" data-animation="am-fade-and-scale" data-template="frontend/components/payment/views/payment.edit.html" data-placement="center" bs-modal="modal">
                 <i class="fa fa-pencil-square-o"></i> Voir/Edit prix
             </button>
         </td>
         <td title="'Supprimer'" width="200">

             <button ng-click="loadDeletedStudent(payment)" type="button" class="btn btn-danger" data-animation="am-fade-and-scale" data-template="frontend/components/payment/views/payment.confirm.html" data-placement="center" bs-modal="modal">
                 <i class="fa fa-trash"></i> Supprimer
             </button>
         </td>-->
     </tr>
     <tr><td colspan="7"><center><b style="color: red">TOTAL inclus cheques non payés</b></center></td><td style="color: red"><b style="color: red">{{totale}}</td></tr>
     <tr><td colspan="7"><center><b style="color: green">TOTAL réel</b></center></td><td><b style="color: green">pas encors</b></td></tr>
</table>
