body { padding-top:0px; }
.space-40 { margin-right: 40px}


.text-warning {
    font-weight: bold;
    color: orange;
}
.text-success {
    font-weight: bold;
}
.text-danger {
    font-weight: bold;

}
.bg-muted {
	background-color: silver;
}

@media print {
    .printable {
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    }
}