<center>
  <div class="onlyPrint">
  <h3>Les cheques seront versés <b>aujourd'hui</b></h3>  

  </div> 
</center>

<div class="row hidee">
  <div class="col-md-4">
      <div class="form-group" ng-class="{'has-error': datepickerForm.date2.$invalid}">
        <label class="control-label pull-left"><i class="fa fa-calendar-o"></i> Date Echéance: </label>
        <input type="text" class="form-control" ng-model="search.dateEcheance" data-date-format="yyyy-MM-dd" data-date-type="date" data-autoclose="1" name="date2" cs-date-to-iso bs-datepicker>
      </div> 
  </div>
</div>



<table ng-table="tableParams"  class="table table-bordered table-hover printable">

 <!-- Object {number: 6565, amount: 40, bank: "jjjj", dateE: "2015-10-25"}-->

     <tr ng-repeat="cheque in $data">     
         <td title="'Numéro'" class="ng-table-group" filter="{ 'number': 'text' }" sortable="'number'">
           {{cheque.number}}
          </td>
         <td title="'Montant'" class="ng-table-group" filter="{ 'amount': 'text' }"sortable="'amount'">
           {{cheque.amount}}
          </td>
         <td title="'Banque'" class="ng-table-group" filter="{ 'bank': 'text' }" sortable="'bank'">
           {{cheque.bank}}
          </td>
         <td title="'Date Echéance'" class="ng-table-group" sortable="'dateE'">
           {{cheque.dateE}}
          </td>
     </tr>
     <tr><td colspan="3"><center><b>Total</b></center></td><td><center><b>{{total}}</b></center></td></tr>

</table>